body {
    background: #23074d;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1d0442, #2951a8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1d0442, #2951a8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #3a69ce;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    width: 100vw;
    height: 100vh;
}

h1 {
    font-family: 'Mountains of Christmas', sans-serif;
    font-size: 60px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-shadow: 0 0 20px #020105;
    letter-spacing: 4px;
}